:80 {
	root * /var/www/html/public

	file_server

	fastcgi * app:9000 {
		index index.php
		split .php
	}

	try_files {path} {path}/ /index.php?{query}

	header {
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-X-XSS-Protection "1; mode=block"
	}

	encode gzip zstd

	log {
		output stderr
		format console
		level ERROR
	}
}
